.dashboard.content-section.span-16
	.title
		%span Upcoming Events
	.events
		=render(:partial => 'upcoming_event', :collection => @upcoming_events) || render(:partial =>"/shared/empty_collection", :locals => {:message => "No upcoming events"})
		
		-unless @upcoming_events.empty?
			#upcoming-event-detail.span-14
			:javascript
				$('#upcoming-event-detail').html($(detail_event_#{@upcoming_events.first.id}).html());
		
.dashboard.content-section.span-16
	.title
		%span Notifications
	.recruitment-activities
		=render(:partial => 'recruitment_activity', :collection => @recruitment_activities)
		
=content_for :sidebar do
	.sidebar-section
		%center
			%p
				=link_to "New Candidate", new_candidate_url, :class => "bold-button"
			%p
				=link_to "Schedule a Step", schedule_step_url, :class => "bold-button"
			%p
				=link_to "Subscribe to Calendar", calendar_url(:format => :ics), :class  => "bold-button"

	%br
	%br
	
	.sidebar-section
		%center
			.title 
				POSITIONS IN PIPELINE
			%ul
				-@positions_in_pipeline.each do |role_id, count|
					%li 
						="#{Role.find(role_id).name}: #{count}"

	%br
	.sidebar-section
		%center
			.title 
				STEPS PENDING IN PIPELINE
			%ul
				-@steps_pending_in_pipeline.each do |step_id, count|
					%li 
						="#{RecruitmentStepType.find(step_id).name}: #{count}"

	%br
	.sidebar-section
		%center
			.title 
				RECRUITING SOURCES
			%ul
				-@recruiting_sources.each do |source, count|
					%li 
						="#{source}: #{count}"

:javascript
	$(".upcoming-event").click(function(){
		upcoming_event_detail_id = "detail_" + this.id;
		$('#upcoming-event-detail').html($('#'+upcoming_event_detail_id).html());
		$('#upcoming-event-detail').animate({opacity: "0.7"}).animate({opacity: "1.0"});
	})