.event.span-14
	.span-2.event-calendar
		=render :partial => "/events/time", :locals=> {:time => event.start_time}
	.span-10.last
		%ul
			%li{:class=> "event-title", :id=> event.id}
				="#{link_to(event.recruitment_step.recruitment_step_type.name, event_detail_url(event.recruitment_step.candidate, event.id))} : #{link_to(event.recruitment_step.candidate.name, candidate_url(event.recruitment_step.candidate))} #{link_to '[edit]', edit_candidate_recruitment_step_event_url(event.recruitment_step.candidate, event.recruitment_step, event), :class => 'edit-link'}"
			%li
				=label_tag "Time:"
				="#{format_time(event.start_time)} - #{format_time(event.end_time)}"
			%li
				=label_tag "Venue:"
				=event.venue
			%li
				=label_tag "Participants:"
				=event.interviewers.map{|interview| interview.participant.name}.join(",")
			-if(!event.feedbacks.blank?)
				%li
					%b
						=link_to "Feedbacks", candidate_recruitment_step_event_feedbacks_url(@candidate, event.recruitment_step, event)